<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDsgkiPrLrcMG3n2cYs05otqSUJG3CCbXo</string>
	<key>GCM_SENDER_ID</key>
	<string>345532761385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kevin.firebase-auth-ios</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-ios-61fed</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-ios-61fed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345532761385:ios:998f03de3b76e65ce42338</string>
</dict>
</plist>